body {
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: rgb(0, 0, 30);
    overflow-x: hidden;
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacer {
    width: 100%;
    aspect-ratio: 16 / 9;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.layer3 {
    background-image: url("../images/layer3.svg");
}

.layer5 {
    background-image: url("../images/layer5.svg");
}

.edge1 {
    background-image: url("../images/edge1.svg");
}