body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    color: white;
    background-color: rgb(0, 0, 30);
    overflow-x: hidden;
}


footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    position: absolute;

    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: clamp(1.5rem, 5vw, 3rem);

    font-weight: 600;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    pointer-events: none;
}

.spacer {
    width: 100%;
    aspect-ratio: 16 / 9;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.layer3 {
    background-image: url("../images/layer3.svg");
}

.layer5 {
    background-image: url("../images/layer5.svg");
}

.edge1 {
    background-image: url("../images/edge1.svg");
}