* {
    text-decoration: none;
}

a {
    color: inherit;
}

body {
    background-color: #232323;
}

.gameStatus {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(219, 172, 19);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10x;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border-color: rgba(194, 160, 9, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.modalButton {
    background-color: rgb(219, 172, 19);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10x;
    width: 90px;
    height: 80px;
    margin-right: 10px;
    border-color: rgba(194, 160, 9, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.modalFooter {
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    transform: translateY(-2px);
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(14, 118, 85);
    border-radius: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
    font-family: sans-serif;
}

li:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    transform: translateY(-2px);
}

#container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #333;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #232323;
    width: 250px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modalHeader .title {
    font-size: 24px;
    font-weight: bold;
}

.modalHeader .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
}

.modalBody {
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#innerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30vh;
    height: 40vh;
    margin: auto;
    background-color: rgb(10, 51, 51);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.insideTable {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #232323;
}

.navbar {
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(39, 114, 109);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.logo a {
    font-weight: 600;
    color: white;
}

.logo {
    margin-left: 10px;
}

#startBtn {
    background-color: rgb(23, 23, 23);
    margin-block: inherit;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    height: 50px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
    font-size: 18px;
    font-weight: bold;
}

#startBtn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    transform: translateY(-2px);
}

.navButton {
    background-color: rgb(23, 23, 23);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10x;
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
}

.navButton a {
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.menuButton {
    background-color: rgb(23, 23, 23);
    margin-block: inherit;
    border-radius: 10px;
    padding: 10x;
    width: 180px;
    height: 50px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.67);
    font-weight: bold;
}

.menuButton a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuButton:hover,
.navButton:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
    transform: translateY(-2px);
}

.ring {
    fill: none;
    stroke: #4b5351;
    cursor: pointer;
}

.ring1 {
    stroke-width: 13;
}

.ring2 {
    stroke-width: 12;
}

.ring3 {
    stroke-width: 11;
}

.ring:hover {
    stroke: #717676;
}

.dummyRing {
    fill: none;
    stroke: #4b5351;
    cursor: pointer;
}

.dummyRing:active {
    stroke: #18cea1;
}

.dummyRing:hover {
    stroke: #717676;
}

.ring1 {
    stroke-width: 13;
}

.ring2 {
    stroke-width: 12;
}

.ring3 {
    stroke-width: 11;
}

.actionTray {
    background-color: #232323;
}